@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import '../../styles/mixins';

.container {
  background-color: #ded8c0;
  height: 100vh;
  width: 100vw;
  background-image: url('/assets/signup.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px auto;

  @include breakpoint(mobile) {
    background-image: url('/assets/signup-mobile.png');
    background-size: 500px auto;
  }

  form {
    width: 230px;
    margin: auto;
    padding-top: calc(50vh - 115px);

    @include breakpoint(mobile) {
      padding-top: calc(50vh - 135px);
    }

    h1 {
      font-family: 'Great Vibes';
      color: white;
      text-align: center;
    }

    input {
      width: -webkit-fill-available;
      border-color: #444e57 !important;
      font-size: 10px;
    }

    label {
      color: #31373d;
      font-size: 12px;
    }

    button {
      width: 100%;
      margin-top: 0.8rem;
    }

    p {
      font-size: 8px;
      text-align: center;
      margin-top: 0.3rem;
      font-weight: bold;
    }

    a {
      color: #31373d;
    }
  }
}
