@import './mixins';
@import './utilities';

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #ffc0d9;
  font-family: Arial;
}

a {
  color: #9c4d5c;
}

main {
  max-width: 1200px;
  margin: auto;
}

label {
  color: #575254 !important;
  margin: 0 !important;
  font-size: 12px !important;
  padding: 0 !important;
}

// Form

.ant-form-item {
  margin: 0 !important;
}

.ant-form-item-row {
  display: block;
}

.ant-form-item-label {
  text-align: start !important;
  label {
    height: auto !important;
  }
}

.ant-form-item-control-input {
  min-height: auto !important;
}

// Inputs
input {
  border-radius: 40px !important;
  border: 1.5px solid #d48890 !important;
  padding: 4px 6px !important;
}

/* Buttons */
.ant-btn {
  border-radius: 14px !important;
  padding: 4px 10px !important;
  color: white !important;
  font-weight: bold;
  font-size: 12px !important;
  height: auto !important;
}

.ant-btn-primary {
  background-color: #f792a2;
  border: 1px solid #ac5967;

  &:hover {
    background-color: #d98191 !important;
  }
}

.ant-btn-secondary {
  background-color: #505f63;
  border: 1px solid #394447;

  &:hover {
    background-color: #3a474b !important;
  }
}
